@model Shop.Web.Models.Account.AccountProfileModel

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center ">
            <div class="panel panel-default">
                <div class="userprofile social ">
                    <div class="userpic"> <img src="@Model.ImageUrl" alt="" class="userpicimg"> </div>
                    <h3 class="username">@Model.FirstName @Model.LastName</h3>
                    <p>@(Model.Country) @(Model.City)</p>
                </div>
                <div class="col-md-12 border-top border-bottom">
                    <ul class="nav nav-pills pull-left countlist" role="tablist">
                        <li role="presentation">
                            <h3>
                                @Model.Balance.ToString("c")<br>
                                <small>Balance</small>
                            </h3>
                        </li>
                        <li role="presentation">
                            <h3>
                                @Model.Orders?.Count()<br>
                                <small>Orders placed</small>
                            </h3>
                        </li>
                        <li role="presentation">
                            <h3>
                                @Model.MemberSince.ToString("dd/MM/yyyy")<br>
                                <small>Member since</small>
                            </h3>
                        </li>
                    </ul>
                    <button class="btn btn-primary followbtn">Settings</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-md-12 -->
        <div class="col-md-4 col-sm-12 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="page-header small">Personal Details</h1>
                    <p class="small">Name: @Model.FirstName @Model.LastName</p>
                    <p class="small">Email: @Model.Email</p>
                    @if(!string.IsNullOrEmpty(Model.PhoneNumber))
                    {
                        <p class="small">Address 1: @Model.AddressLine1</p>
                    }
                    <p class="small">Country: @Model.Country</p>
                    <p class="small">City: @Model.City</p>
                    @if(!string.IsNullOrEmpty(Model.AddressLine1))
                    {
                        <p class="small">Address 1: @Model.AddressLine1</p>
                    }
                    @if(!string.IsNullOrEmpty(Model.AddressLine2))
                    {
                        <p class="small">Address 2: @Model.AddressLine2</p>
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="page-header small">Most Popular</h1>
                    <p class="page-subtitle small">Most popular ordered products</p>
                </div>
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="fa fa-male"></span> Worked with 1000+ people</li>
                        <li class="list-group-item"><span class="fa fa-institution"></span> 60+ offices</li>
                        <li class="list-group-item"><span class="fa fa-user"></span> 50000+ satify customers</li>
                        <li class="list-group-item"><span class="fa fa-clock-o"></span> Work hours many and many still counting</li>
                        <li class="list-group-item"><span class="fa fa-heart"></span> Customer satisfaction for servics</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>