@model Shop.Web.Models.Food.FoodIndexModel

<div class="container body-content">
    <div class="row foodHeader">
        <div class="foodHeading">
            <span class="foodIndexName">
                @Model.Name
            </span>
            <span id="headingBtn"><a asp-controller="Category" asp-action="Topic" asp-route-id="@Model.CategoryId" class="btn btn-back">Back to @Model.CategoryName section</a></span>
        </div>
    </div>

    <div class="row" id="foodIndexContent">
        <div class="col-md-9 foodContentContainer">
            <div class="categoryLogo" style="background-image: url(@Model.ImageUrl); background-size:100%; width:360px;height:240px"></div>

            <div class="foodContent">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</div>

