@model Shop.Web.Models.Food.FoodIndexModel

@using Microsoft.AspNetCore.Identity
@using Shop.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="container body-content" style="margin-bottom:200px;">
    <div class="row foodHeader">
        <div class="foodHeading">
            <span class="foodIndexName">
                @Model.Name
            </span>
            <br>
            <span id="headingBtn"><a asp-controller="Category" asp-action="Topic" asp-route-id="@Model.CategoryId" class="btn btn-back">Back to @Model.CategoryName section</a></span>
        </div>
    </div>

    <div class="row" id="foodIndexContent">
        <div class="col-md-9 foodContentContainer">
            <div class="categoryLogo" style="background-image: url(@Model.ImageUrl); background-size:100%; width:360px;height:240px"></div>
            <div class="foodContent">
                @Html.Raw(Model.Description)
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-addToCart">
                <div class="categoryPrice">Price: <input readonly class="form-control" style="outline:none" id="foodTotal-@(Model.GetHashCode())" value="@Model.Total"></div>
                @if(User.IsInRole("Admin"))
                {
                    <div class="categoryPrice">In Stock: @Model.InStock</div>
                }
                <form asp-controller="ShoppingCart" asp-action="Add"  method="get" class="form-horizontal" role="form" >
                    <a onclick="changeValue(document.getElementById('amount-input-'+@Model.Id.ToString()),document.getElementById('foodTotal-@(Model.GetHashCode())'), @Model.Total, 1)"><i class="fas fa-plus-circle"></i></a>
                    <input id="amount-input-@Model.Id" asp-for="Amount" style="width:20%" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <a onclick="changeValue(document.getElementById('amount-input-'+@Model.Id.ToString()),document.getElementById('foodTotal-@(Model.GetHashCode())'), @Model.Total, -1)"><i class="fas fa-minus-circle"></i></a>
                    <div class="btn-cart">
                        <input value="Add to cart" type="submit" class="btn btn-success" asp-controller="ShoppingCart"  asp-action="Add" asp-route-id="@Model.Id" asp-route-amount="@Model.Amount" asp-route-returnUrl="@Context.Request.Path"/>
                    </div>
                    @if(User.IsInRole("Admin"))
                    {
                        <div>
                            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            @Html.ActionLink("Delete", "Delete", new { id = @Model.Id },
                                new { onclick = "return confirm('Are sure you want to delete food?');", @class="btn btn-danger" })
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

