@model Shop.Web.Models.Food.FoodListingModel

<div class="btn-addToCart">
    <div class="categoryPrice"> <input readonly class="form-control" style="outline:none" id="foodTotal-@(Model.GetHashCode())" value="@Model.Total"></div>
    @if(User.IsInRole("Admin"))
    {
        <div class="categoryPrice">In Stock: @Model.InStock</div>
    } 
    <form asp-controller="ShoppingCart" asp-action="Add"  method="get" class="form-horizontal" role="form">
        <a onclick="changeValue(document.getElementById('amount-input-'+@Model.Id.ToString()), document.getElementById('foodTotal-@(Model.GetHashCode())'),'@Model.Total', 1)"><i class="fas fa-plus-circle"></i></a>
        <input id="amount-input-@Model.Id" asp-for="Amount" style="width:20%" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
        <a onclick="changeValue(document.getElementById('amount-input-'+@Model.Id.ToString()),document.getElementById('foodTotal-@(Model.GetHashCode())'), '@Model.Total', -1)"><i class="fas fa-minus-circle"></i></a>
        <div class="btn-cart">
            <input value="Add to cart" type="submit" class="btn btn-success" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id" asp-route-amount="@Model.Amount"  asp-route-returnUrl="@Context.Request.Path">
        </div>
    </form>
</div>

<div class="foodData">
    <div class="foodName">
        <div class="categoryLogo" style="background-image: url(@Model.ImageUrl);"></div>
        <a class="btn btn-info" asp-controller="Food" asp-action="Index" asp-route-id="@Model.Id">
            @Model.Name
        </a>
    </div>
</div>